:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --background-color: #f4f4f4;
    --text-color: #333;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 5px 10px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
}

nav ul li a[aria-current="page"] {
    font-weight: bold;
    text-decoration:underline;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.about-container {
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.text-box {
    flex: 2;
    padding: 2rem;
}

.text-box h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 0.5rem;
}

.text-box p {
    margin-bottom: 1rem;
}

.img-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1rem;
}

.img-box img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 30%;
    object-fit: cover;
    border: 5px solid var(--secondary-color); /* Ajoute une bordure autour de l'image */
}

footer {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-icons a {
    margin: 0 1rem;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}